Faker==13.3.0

--1.2. Изучите структуру исходных данных
--зафиксируйте, какие поля вы будете использовать для расчёта витрины.
1. user_id - id from production.users
2. recency - (id from production.users) left join (order_id, order_ts, user_id, status from production.orders) left join 
(id, key from orderstatuses)
3. frequency - (id from production.users) left join (order_id, user_id, status from production.orders) left join 
(id, key from orderstatuses)
4. Monetary Value - (id from production.users) left join (order_id, user_id, status, payment from production.orders) 
left join (id, key from orderstatuses)

